$primary-color: #f19a0e;

.delivery-detail {
    margin: 20px;

    h1 {
        font-size: 24px;
        color: $primary-color;
        margin-bottom: 20px;
    }

    .basic-info,
    .sender-info,
    .receiver-info,
    .status-info,
    .order-status {
        margin-bottom: 20px;

        b {
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .info-title {
            font-size: 28px;
        }

        .info-row {
            display: flex;
            margin-bottom: 10px;

            .info-label {
                flex: 0 0 200px; // Điều chỉnh chiều rộng của label
                font-weight: bold;
            }

            .info-value {
                flex: 1;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
                color: $primary-color;
                text-decoration: underline;
                padding: 0;
                margin: 0;
            }
        }
    }
}